@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply antialiased transition-colors duration-300;
  }
}

:root {
  --color-gold-500: #d4af37;
  --color-gold-600: #b5952f;
}

.dark body {
  @apply bg-[#0a0a0a] text-gray-100;
}